<!--
Vista de la funcion Index, la cual representa al Home o pagina inicial
de la aplicación.
Esta vista está asociada al layout _Layout.cshtml
-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

</body>
</html>
